
.faq-section {
    margin-top: 40px;
}
  
.faq-section h2 {
    color: #ffffff;
    background-color: #2c9765;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 16px;
    padding: 12px 16px;
    border-radius: 15px;
    text-align: center;
  }
  

.faq-item {
margin-bottom: 20px;
}

.question {
  padding: 16px;
  font-weight: bold;
  border-radius: 8px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Estilo para preguntas impares */
.faq-item:nth-child(odd) .question {
  background-color: #43aa7a;
  color: #000000;
}
.faq-item:nth-child(odd) .question:hover {
  background-color: #1d6342;
  color: #ffffff;
}

/* Estilo para preguntas pares */
.faq-item:nth-child(even) .question {
  background-color: #5ca5c2;
  color: #000000;
}
.faq-item:nth-child(even) .question:hover {
  background-color: #305e70;
  color: #ffffff;
}


.answer {
padding: 16px;
background-color: #f3f4f6;
border: 1px solid #ccc;
border-radius: 8px;
margin-top: 8px;
}

  